/* Основний стиль для сторінки */
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

/* Фон і структура сторінки */
.background {
    position: relative;
    background-image: url('images/images.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, sans-serif;
    color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center; /* Центруємо горизонтально */
}

/* Стиль для контейнера контенту */
.content {
    flex-grow: 1;
    padding: 80px 20px;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Вирівнюємо всі лабораторні зверху */
}

/* Верхнє меню */
.top-menu {
    width: 100%;
    background-color: #333;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

/* Стилі для меню */
.top-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.top-menu ul li {
    margin: 0;
}

.top-menu ul li button {
    padding: 15px 20px;
    background-color: #ff6600;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.top-menu ul li button:hover {
    background-color: #cc5505;
}

/* Стиль для блоків лабораторних робіт */
.lab-content {
    display: none; /* Спочатку приховуємо всі лабораторні роботи */
    width: 500px;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(255, 255, 255);
    position: relative; /* Відносна позиція всередині контейнера */
    z-index: 1;
}

/* Відображення активної лабораторної роботи */
.lab-content.active {
    display: block; /* Показуємо активну лабораторну роботу */
    z-index: 2; /* Активній лабораторній роботі надаємо вищий пріоритет */
}

/* Додатковий стиль для маленьких екранів */
@media screen and (max-width: 768px) {
    .lab-content {
        width: 90%; /* Зменшуємо ширину на маленьких екранах */
    }
}
