<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Лабораторні роботи з захисту інформації</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="background">
        <div class="top-menu">
            <ul>
                <li><button onclick="showLab('lab1')">Лабораторна робота 1</button></li>
                <li><button onclick="showLab('lab2')">Лабораторна робота 2</button></li>
                <li><button onclick="showLab('lab3')">Лабораторна робота 3</button></li>
                <li><button onclick="showLab('lab4')">Лабораторна робота 4</button></li>
                <li><button onclick="showLab('lab5')">Лабораторна робота 5</button></li>
            </ul>
        </div>
        <div class="content">
            <div id="lab1" class="lab-content {% if active_lab == 'lab1' %}active{% endif %}">
                <h2>Лабораторна робота 1</h2>
                <h3>Завдання 1:</h3>
                <p>Варіант 4 (параметри є в конфігураційному файлі)</p>
                <form method="POST" action="/lab1">
                    <label for="inputLab1">Введіть n:</label>
                    <input type="number" id="inputLab1" name="inputLab1" required>
                    <button type="submit">Відправити</button>
                </form>
                <div>
    <h3>Період:</h3>
    <p>{{ outputLab1_2 if outputLab1_2 else 'Період не знайдено' }}</p>
    <h3>Результат:</h3>
    <p>{{ outputLab1 if outputLab1 else 'Немає результату' }}</p>
</div>
<div>
    <h3>Завдання 2: Оцінка числа π за допомогою теореми Чезаро</h3>
                    <p>Оцінка числа π з використанням ЛКГ: {{ chesaro }}</p>
                    <p>Оцінка числа π з використанням системного генератора: {{ random_sequence }}</p>
                    <p>{{ pi }}</p>
</div>
            </div>
        </div>
    </div>

<script>
    // Зчитування активного лабораторного вікна з локального сховища
    function loadActiveLab() {
        const activeLab = localStorage.getItem('activeLab');
        if (activeLab) {
            showLab(activeLab);
        }
    }

    // Функція для відображення вибраної лабораторної роботи
    function showLab(labId) {
        // Спочатку приховуємо всі лабораторні
        const labs = document.querySelectorAll('.lab-content');
        labs.forEach(lab => lab.classList.remove('active'));

        // Показуємо вибрану лабораторну роботу
        const selectedLab = document.getElementById(labId);
        selectedLab.classList.add('active');

        // Зберігаємо активне лабораторне вікно в локальному сховищі
        localStorage.setItem('activeLab', labId);
    }

    // Завантажуємо активне лабораторне вікно при завантаженні сторінки
    window.onload = loadActiveLab;
</script>
</body>
</html>
